
@{
    ViewBag.Title = "Home Page";
}
<!--https://github.com/psauthor/BuildingASPNETCore2/tree/master/Resources-->
<div class="picture-info">
    <img src="~/img/bloomblooming.jpg" />
    <h3>Love Notes</h3>
    <ul class="poem-details ">
        <li>Roses are Red</li>
        <li>Violets are Blue</li>
        <li>I really love you!  </li>
        <li>Happy Anniversary My Love! </li>
    </ul>
</div>
<div id="theForm">
    <form action="get">
        <label>Your Name:</label>
        <input type="text" name="Name" />
        <br />
        <label>Email:</label>
        <input type="email" name="Email" />
        <br />
        <label> Subject:</label>
        <input type="text" name="Subject" />
        <label> Message:</label>
        <textarea rows="4"></textarea>
        <input type="submit" value="Send Message" />
    </form>
</div>
